#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_TRICORE
comment "Tricore Options"

config ARCH_TC162
	bool "Tricore TC 1.6.2"
	default n
	---help---
		Choose for Tricore architecure version 1.6.2

config ARCH_TC18
	bool "Tricore TC 1.8"
	---help---
		Choose for Tricore architecure version 1.8

config ARCH_FAMILY
	string
	default "tc162"		if ARCH_TC162
	default "tc18"		if ARCH_TC18

config ARCH_CHIP_FAMILY_TC3XX
	bool "AURIX Family TC3XX"
	select ARCH_TC162
	select ARCH_HAVE_TESTSET
	select ARCH_HAVE_IRQTRIGGER
	default n
	---help---
		AURIX TC3XX family: TC3XX

config ARCH_CHIP_FAMILY_TC4XX
	bool "AURIX Family TC4XX"
	select ARCH_TC18
	select ARCH_HAVE_TESTSET
	select ARCH_HAVE_IRQTRIGGER
	default n
	---help---
		AURIX TC4xx family: TC4XX

config ARCH_CHIP
	string
	default "tc3xx"		if ARCH_CHIP_FAMILY_TC3XX
	default "tc4xx"		if ARCH_CHIP_FAMILY_TC4XX

if ARCH_CHIP_FAMILY_TC3XX
source "arch/tricore/src/tc3xx/Kconfig"
endif

source "arch/tricore/src/tc4xx/Kconfig"

choice
	prompt "Tricore Toolchain Selection"
	default TRICORE_TOOLCHAIN_GNU

config TRICORE_TOOLCHAIN_TASKING
	bool "AURIX Tasking C/C++ toolchain"
	select ARCH_TOOLCHAIN_TASKING

config TRICORE_TOOLCHAIN_GNU
	bool "Generic GNU toolchain"
	select ARCH_TOOLCHAIN_GNU
	---help---
		This option should work for any modern GNU toolchain (GCC 4.5 or newer)

endchoice # Tricore Toolchain Selection

endif # ARCH_TRICORE
