#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_TRICORE
comment "Tricore Options"

config ARCH_TC162
	bool "Tricore TC 1.6.2"
	default n
	---help---
		Choose for Tricore architecure version 1.6.2

config ARCH_TC18
	bool "Tricore TC 1.8"
	---help---
		Choose for Tricore architecure version 1.8

config ARCH_FAMILY
	string
	default "tc162"		if ARCH_TC162
	default "tc18"		if ARCH_TC18

config ARCH_CHIP_FAMILY_TC3XX
	bool "AURIX Family TC3XX"
	select ARCH_TC162
	select ARCH_HAVE_TESTSET
	select ARCH_HAVE_IRQTRIGGER
	default n
	---help---
		AURIX TC3XX family: TC3XX

config ARCH_CHIP_FAMILY_TC4XX
	bool "AURIX Family TC4XX"
	select ARCH_TC18
	select ARCH_HAVE_TESTSET
	select ARCH_HAVE_IRQTRIGGER
	default n
	---help---
		AURIX TC4xx family: TC4XX

config ARCH_CHIP
	string
	default "tc3xx"		if ARCH_CHIP_FAMILY_TC3XX
	default "tc4xx"		if ARCH_CHIP_FAMILY_TC4XX

if ARCH_CHIP_FAMILY_TC3XX
source "arch/tricore/src/tc3xx/Kconfig"
endif

source "arch/tricore/src/tc4xx/Kconfig"

choice
	prompt "Tricore Toolchain Selection"
	default TRICORE_TOOLCHAIN_LLVM

config TRICORE_TOOLCHAIN_GNUC
	bool "GNU GCC Toolchain"
	---help---
		Use the open-source GNU GCC toolchain for Tricore.
		This requires tricore-elf-gcc to be installed.

config TRICORE_TOOLCHAIN_LLVM
	bool "HighTec LLVM Toolchain"
	---help---
		Use the HighTec closed-source LLVM/Clang toolchain for Tricore.
		This is the commercial toolchain provided by HighTec.

		The toolchain must be installed at:
		/opt/tooling/tricore-llvm/toolchains/tricore/v10.1.0

		Or set LLVM_TOOLCHAIN_PATH in your environment to the installation path.

config TRICORE_TOOLCHAIN_TASKING
	bool "Tasking Toolchain"
	---help---
		Use the Tasking toolchain for Tricore.

endchoice

config TRICORE_LLVM_TOOLCHAIN_PATH
	string "HighTec LLVM Toolchain Path"
	default "/opt/tooling/tricore-llvm/toolchains/tricore/v10.1.0"
	depends on TRICORE_TOOLCHAIN_LLVM
	---help---
		Path to the HighTec LLVM toolchain installation directory.
		The toolchain binaries should be in $(path)/bin/

		Default: /opt/tooling/tricore-llvm/toolchains/tricore/v10.1.0

endif # ARCH_TRICORE
