comment "Infineon Aurix TC4XX Family configurations"

choice
	prompt "Infineon Aurix TC4XX Chip selection"


config TC4XX_CHIP_TC4D7
	bool "TC4D7 SoC"
	---help---
		TC4D7 SoC

endchoice

config ARCH_TRICORE_CPU_COUNT
	int "TRICORE CPU count"
	default 1
	---help---
		Tricore CPU count

