#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
comment "Infineon Aurix TC3XX Family configurations"

choice
        prompt "Infineon Aurix TC3XX Chip selection"

config TC3XX_CHIP_TC397
        bool "TC397 SoC"
        ---help---
                TC397 SoC

endchoice

config ARCH_TRICORE_CPU_COUNT
	int "TRICORE CPU count"
	default 1
	---help---
		Tricore CPU count

menu "TC3XX Peripheral Support"

endmenu
