#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
comment "Infineon Aurix TC3XX Family configurations"

choice
        prompt "Infineon Aurix TC3XX Chip selection"

config TC3XX_CHIP_TC397
        bool "TC397 SoC"
        ---help---
                TC397 SoC

endchoice

config ARCH_TRICORE_CPU_COUNT
	int "TRICORE CPU count"
	default 1
	---help---
		Tricore CPU count

menu "TC3XX Peripheral Support"

# UART
config TRICORE_UART0
        bool "ASCLIN0 UART"
        default n
        select UART0_SERIALDRIVER
        select SERIAL
        ---help---
                Enable the ASCLIN0 peripheral as a UART serial port.

if TRICORE_UART0

config TRICORE_UART0_RXIRQ
        int "ASCLIN0 RX IRQ number"
        default 21

config TRICORE_UART0_TXIRQ
        int "ASCLIN0 TX IRQ number"
        default 20

config TRICORE_UART0_ERIRQ
        int "ASCLIN0 ERR IRQ number"
        default 22

config TRICORE_ASCLINF_FREQUENCY
        int "fASCLINF clock frequency (Hz)"
        default 100000000

endif # TRICORE_UART0

endmenu
